HF_TOKEN=
HF_HOME=Z:\Ogurcast\.cache\huggingface
HF_HUB_CACHE=Z:\Ogurcast\.cache\huggingface\hub
HF_TOKEN_PATH=Z:\Ogurcast\.cache\huggingface\token
TRANSFORMERS_CACHE=Z:\Ogurcast\.cache\huggingface\transformers
TORCH_HOME=Z:\Ogurcast\.cache\torch
PIP_CACHE_DIR=Z:\Ogurcast\.cache\pip
NLTK_DATA=Z:\Ogurcast\.cache\nltk
TMP=Z:\Ogurcast\tmp
TEMP=Z:\Ogurcast\tmp
